<div class="container">

  <div class="question">
    <h1>I'm your drillmaster!</h1>
  <p>What do you want to ask me?</p>
  </div>

  <form class="form-style-5" action="/answer" method="get">
    <span class="label">Enter Your Question Here, Loser!</span><input type="text" name="question" placeholder="Make it good!">
    <input type="submit" value="Ask!">
  </form>

</div>

